<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wake on Lan</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!-- Latest compiled and minified JavaScript -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand"><a href="/">Wake on Lan</a></h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#">Hi, <%= account %></a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="inner cover">
                    <form action="/mac/new" method="post">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Mac address</th>
                                    <th colspan="2">Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td>
                                        <input type="text" name="name" class="form-control" placeholder="Name">
                                    </td>
                                    <td>
                                        <input type="text" name="mac_address" class="form-control" placeholder="Mac address">
                                    </td>
                                    <td colspan="2">
                                        <button type="submit" name="add" class="btn btn-block btn-info">Add</button>
                                    </td>
                                </tr>
                            </tfoot>
                            <tbody>
                                <% for (var i = 0; i < mac.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= mac[i].name %>
                                        </td>
                                        <td>
                                            <%= mac[i].mac_address %>
                                        </td>
                                        <td>
                                            <button type="button" name="wake" mac="<%= mac[i].mac_address %>" class="btn  btn-block btn-primary">Wake it!</button>
                                        </td>
                                        <td>
                                            <button type="button" name="delete" mac="<%= mac[i].mac_address %>" class="btn btn-block btn-danger">Delete</button>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <form name="delete" action="/mac/delete" method="post">
        <input type="hidden" name="mac_address">
    </form>
    <form name="wake" action="/wake" method="post">
        <input type="hidden" name="mac_address">
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/javascripts/main.js?<%= (new Date()).getTime() %>"></script>
</body>

</html>
